*,
*::before,
*::after {
	box-sizing: border-box;
}


h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4 {
	line-height: 1.;
}


body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
dt,
dd,
figure {
  margin: 0;
}


img {
	max-width: 100%;
	height: auto;
	display: block;
}


ul [class],
ol [class] {
	list-style: none;
	margin: 0;
	padding: 0;
}

input,
button,
textarea,
select {
	font: inherit;
}

body {
	line-height: 1.6;
}

.container {
    border: 1px solid purple;
    width: 20rem;
    margin: 10rem auto;
    padding: 0.5rem;
    line-height: 1.1;

}

.calclulator-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.5rem;
}

.calclulator-grid > * {
    height: 4rem;
}

.calclulator-grid > *:first-child{
    grid-column: span 4;
    border: 1px solid black;
}

.span {
    grid-column: span 2;
}

.output {
    padding: 1rem;
    text-align: right;
    font-size: 2rem;
    word-wrap: break-word;
    height: min-content;
}

.previousOperation {
    min-height: 2rem;
    font-size: 1.5rem;
}

.currentOperation {
    min-height: 3rem;
}

footer {
    text-align: center;
}